doctype html
html(lang="en")
  head
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    meta(name="twitter:card", content="player")
    meta(name="twitter:site", content="@twhisprer")
    meta(name="twitter:title", content="@#{author} said")
    meta(name="twitter:description", content="something #{author} said recently")
    meta(name="twitter:player", content="https://twhispr.com/player/#{scTrackId}")
    meta(name="twitter:player:width", content="480")
    meta(name="twitter:player:height", content="480")
    meta(name="twitter:player:stream", content="https://soundcloud.com/twhisprer/#{author}-said-#{scId}")
    meta(name="twitter:player:stream:content_type", content="application/octet-stream")
  body
    h4
      Check out what @#{author} said recently!


