doctype html
html(lang="en")
  head
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    meta(name="twitter:card", content="player")
    meta(name="twitter:site", content="@twhisprer")
    meta(name="twitter:title", content="@#{author} said")
    meta(name="twitter:description", content="Hear what #{author} just tweeted")
    meta(name="twitter:player", content="https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F#{scTrackId}&show_artwork=true")
    meta(name="twitter:player:width", content="480")
    meta(name="twitter:player:height", content="200")
    meta(name="twitter:image", content="https://twhispr.com/images/#{randomImage}")
    meta(name="twitter:player:stream", content="https://soundcloud.com/twhisprer/#{author}-#{scId}")
    meta(name="twitter:player:stream:content_type", content="application/octet-stream")
  body

    // TODO: JS code here to play audio on click
    iframe(
        id="sc-widget"
        width = "100%"
        scrolling = "no"
        frameborder = "no"
        src = "https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F#{scTrackId}&show_artwork=true"
        )
    script(src="https://w.soundcloud.com/player/api.js" type="text/javascript")
    script.
        var widgetIframe = document.getElementById('sc-widget'),
            widget       = SC.Widget(widgetIframe);

        widget.bind(SC.Widget.Events.READY, function() {
          widget.bind(SC.Widget.Events.PLAY, function() {
            // get information about currently playing sound
            widget.getCurrentSound(function(currentSound) {
              //console.log('sound ' + currentSound.get('') + 'began to play');
            });
          });
          // get current level of volume
          widget.getVolume(function(volume) {
            console.log('current volume value is ' + volume);
          });
          // set new volume level
          // widget.setVolume(50);
          // get the value of the current position
        });

    h4 Check out what @#{author} just 
        a(href="https://twhispr.com/player/#{scTrackId}") said


