doctype html
html(lang="en")
  head
    meta(name="twitter:card" content="player")
    meta(name="twitter:description", content="Hear what #{author} just tweeted")
    meta(name="twitter:player", content="https://twhispr.com/v2/player/#{trackId}")
    meta(name="twitter:player:width", content="380")
    meta(name="twitter:player:height", content="100")
    meta(name="twitter:image", content="https://twhispr.com/images/#{randomImage}")
    meta(name="twitter:player:stream", content="#{trackUrl}")
    meta(name="twitter:player:stream:content_type", content="application/octet-stream")
    script(src="/js/audio.min.js")
  body

    iframe(
        id="audio-widget"
        width = "100%"
        scrolling = "no"
        frameborder = "no"
        src = "/v2/player/#{trackId}"
        )
    script.
        audiojs.events.ready(function() {
            var as = audiojs.createAll();
        });

    h4 Check out what @#{author} just 
        a(href="/v2/player/#{trackId}") said


