doctype html
html(lang="en")
  head
    meta(content="text/html; charset=UTF-8", http-equiv="Content-Type")
    meta(name="twitter:card" content="player")
    meta(name="twitter:site", content="@twhisprer")
    meta(name="twitter:title", content="@#{author} said")
    meta(name="twitter:description", content="Hear what #{author} just tweeted")
    meta(name="twitter:player", content="https://twhispr.com/v2/player/#{trackId}")
    meta(name="twitter:player:width", content="380")
    meta(name="twitter:player:height", content="236")
    meta(name="twitter:image", content="https://twhispr.com/images/#{randomImage}")
    meta(name="twitter:player:stream", content="#{trackUrl}")
    meta(name="twitter:player:stream:content_type", content="application/octet-stream")
    script(src="/js/audio.min.js")
  body

    iframe(
        id="audio-widget"
        width = "100%"
        height = "236px"
        scrolling = "no"
        frameborder = "no"
        src = "/v2/player/#{trackId}"
        )

    p
        a(href="https://twhispr.com/v2/player/#{trackId}") @#{author}&nbsp;said

    div.
        <a href="https://twitter.com/#{author}" class="twitter-follow-button" data-show-count="false" data-size="large">@#{author}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-78762388-1', 'auto'); ga('send', 'pageview');
